/* .preferences {
    img {
        position : relative;

    }
    input {
        display: none;
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
} */