.footer_container {
  color: whitesmoke;
  width: 100%;
  text-align: center;
  height: 200px;
  justify-content: end;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
 background: #330d38;
    background: -webkit-linear-gradient(left, #150d38 0%, #0c0223 100%);
    
  .icons {
    font-size: 2rem;
    padding: 1rem;
    .icons_link {
      padding: 0.5rem;
      cursor: pointer;
      &:hover {
 color: #9d00ff;
transform: scale(1.1);      }
    }
  }
}
