.landing_container{
    width: 100%;
    position: absolute;
    height: 100vh;
    color: whitesmoke;
  //  background-image: url('../../../assets/2610732.jpg');
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.205), rgba(31, 3, 58, 0.73)),url('../../../assets/2610702.jpg');
  // background-size: cover;
    background-repeat: no-repeat;
    div{
        width: 70%;
        text-align: center;
        h1{
            font-size: 5rem;
            padding-top: 20rem;
            padding-bottom: 3rem;
        }
    }

}