.nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  
    .search_bar {
      flex-grow: 1;
      margin-right: 1rem;
      width: 500px;
    }
  
    a {
      color: #007bff;
      text-decoration: none;
      margin-right: 1rem;
  
      &:hover {
        color: #0056b3;
      }
    }
  }
  
  .logout {
    cursor: pointer;
    color: #dc3545;
  }
  
  .profile_circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #6c757d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }
  
  .notification_icon {
    cursor: pointer;
    color: #28a745;
  }
  